.MotorInfo{
    padding-top:150px;
}
.ListMotorInfo{
    width:80%;
    margin:auto;
    padding:20px 100px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    text-align:center;
}
.MotorStatus{
    margin-top: 20px;
}
.MotorSettingForm{
    border:solid black;
    padding:10px;
}
.MotorControlHand{
    visibility: hidden;
    align-self: center;
}

.MotorForm{
    height: 40px;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 200px;
}
.MotorInfo input{
    width: 150px; height: 40px;
    margin-right: auto;
    margin-left: auto;
}