.sensor-info{
    padding-top:150px;
}
.list-sensor-info{
    width:80%;
    margin:auto;
    padding:20px 100px;
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.list-sensor-info h1{
    font-size:24px;
    text-align:center;
    padding-bottom:30px;
    font-weight:600;
}
.list-sensor-info table{
    width:100%;  
}
.list-sensor-info #turn-back{
    margin-bottom: 20px;
}
.list-sensor-info .btn-sensor::after{
    content: "Xem chi tiáº¿t";
}
@media only screen and (max-width:1024px){
    .sensor-info{
        width:90%;
        margin:auto;
    }
    .list-sensor-info{
        width:100%;
        padding:10px;
    }
    .list-sensor-info h1{
        font-size:20px;
    }
    .list-sensor-info table{
        font-size:15px;
    }
    .list-sensor-info button{
        font-size:15px;
    }
}
@media only screen and (max-width:768px){
    .sensor-info{
        padding-top:100px;
    }
    .list-sensor-info{
        width:100%;
        padding: 5px;
    }
    .list-sensor-info h1{
        font-size:18px;
    }
    .list-sensor-info table{
        font-size:12px;
    }
    .list-sensor-info button{
        font-size:12px;
    }
    .list-sensor-info .btn-sensor::after{
        content:'Xem';
    }
}